html,
body {
  height: 100%;
}

:root {
  --container-width-md: 80%;
  --container-width-sm: 85%;
}

body {
  background-image: url('./img/milky_way.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start_screen {
  width: 1500px;
  height: 800px;
  font-family: 'VT323';
  font-size: 2em;
  color: white;
  background-image: url('./img/astronaut.jpeg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: space-evenly;
  padding-left: 50px;
}

.start_screen button {
  width: 300px;
  font-family: 'VT323';
  font-size: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-left: 5px;
  height: 50px;
  width: 50px;
  vertical-align: middle;
}

.author {
  text-align: right;
  font-size: 40px;
}

canvas {
  background-image: url('./img/mars_planet.jpg');
  background-size: cover;
  border: 10px red solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.end_screen {
  background-color: black;
  width: 1500px;
  height: 800px;
  font-family: 'VT323';
  font-size: 4em;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.end_screen button {
  width: 300px;
  font-family: 'VT323';
  font-size: 0.5em;
  padding: 1em;
}

/* ------ MEDIA QUERIES (MEDIUM DEVICES/TABLETS) ------- */

@media screen and (max-width: 1024px) {
  .body {
    width: var(--container-width-md);
  }
}

/* ------ MEDIA QUERIES (SMALL DEVICES/PHONES) ------- */

@media screen and (max-width: 600px) {
  .body {
    width: var(--container-width-sm);
  }
}
